[id='/page/home'] {
  background-color: #B0CDE7;
  background-image: url(~"@{staticpath}/images/home.jpg");
  background-position: center center;
  background-size: cover;

  .page-wrap {
    padding: 200px 0;
    width: 50%;
    text-align: center;

    &:after {
      display: block;
      margin: 0 auto;
      content: "Scroll Down";
      color: white;
      padding-top: 30px;
      font-weight: 100;
      text-transform: uppercase;
    }
  }

  h1 {
    display: block;
    width: 200px;
    height: 78px;
    background-image: url(~"@{staticpath}/images/logo.png");
    background-size: 100% 100%;
    text-indent: -9999px;
    margin: 20px auto;
  }

  .title {
    .make-heading(2.3em);
    &.title-1 {
      font-size: 2.3em;
      text-transform: uppercase;
    }
    &.title-2 {
      font-size: 4.5em;
    }
    &.title-3 {
      font-size: 1.4em;
      text-transform: uppercase;
      font-weight: 300;
    }

  }
}
