[id='/page/home'] {
  .background-cover(~"@{staticpath}/images/home.jpg", #B0CDE7);
  background-position: 10% 50%;
  .page-wrap {
    padding: 200px @page-side-padding;

    .page-inner {
      margin: 0 auto;
      max-width: 1140px;
    }
    .main {
      text-align: center;
      &:after {
        display: block;
        margin: 0 auto;
        content: "Scroll Down";
        font-family: @font-family-base;
        font-weight: normal;
        color: white;
        padding-top: 30px;
        text-transform: uppercase;
      }
    }
  }

  h1 {
    display: block;
    width: 200px;
    height: 78px;
    background-image: url(~"@{staticpath}/images/logo.png");
    background-size: 100% 100%;
    text-indent: -9999px;
    margin: 20px auto 50px;
  }

  .title {
    .make-heading(2.3em);
    &.title-1 {
      line-height: 1em;
      font-size: 2.3em;
      text-transform: uppercase;
    }
    &.title-2 {
      font-size: 4.5em;
      line-height: 1em;
    }
    &.title-3 {
      .light-heading;
      font-size: 1.5em;
      text-transform: uppercase;
    }

  }
}
