[id='/page/letter-to-shareholders'] {
  .row-shadow();
  .page-wrap {
    .wrap();
    padding-top: 40px;
    padding-bottom: 0px;
  }

  .signature {
    display: block;
    float: left;
    width: 50%;
    max-width: 270px;
    font-weight: bold;
    img {
      display: block;
      margin: 0 auto 5px 0;
    }
  }
  .position {
    font-weight: normal;
    display: block;
  }
  .date {
    clear: both;
    padding-top: 1em;
  }

  aside {
    h3 {
      font-size: 2.3em;
      margin-top: 2.3em;
      margin-bottom: 0.5em;
    }
    h4 {
      .medium-heading;
      text-transform: none;
      margin-bottom: 0;
    }
    p {
      font-weight: 900;
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      display: block;
      width: 380px;
      max-width: 100%;
      margin: 2em auto 0;
    }
  }
}
