[id='/page/md-a'].page {
  background-color: #E0F1ED;
  .wrap();
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  .row-shadow();
  .page-wrap {
    .row-wrap();
    &:after {
      display: block;
    }
  }
}
