nav[role=main] {
  position: fixed;
  left: 0;
  top: 100px;
  width: 110px;
  padding: 0 10px;
  height: 100%;
  color: @wash-gray;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  z-index: 100;
  font-size: 0.9em;

  a { color: inherit; }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 30px 0;
  }
}

@media (min-width: @unwrap-width) {
  nav[role=main] {
    font-size: 1em;
  }
}
