.pages-wrapper {
  position: relative;
  left: 0;
}

.pages-wrapper, nav[role=main] {
  transition: 0.2s left;
}

nav[role=main] {
  position: fixed;
  top: @top-bar-height;
  bottom: 0;
  height: 100%;
  color: @wash-gray;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  z-index: 100;
  font-size: 0.9em;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    margin: 0;
    a {
      text-decoration: none;
      color: @slate-gray;
      text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
    }
  }
}

.nav-toggle {
  display: block;
  position: absolute;
  top: 0;
  right: -36px - @top-bar-height;
  a {
    display: block;
    width: 36px;
    height: 31px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: @trinidad-green;
    border: 1px solid darken(@trinidad-green, 10%);
    border-bottom-color: darken(@trinidad-green, 20%);
    border-top: none;
    text-indent: -9999px;
    background-image: data-uri('../images/hamburger.png');
    background-size: 24px 21px;
    background-position: 50% 2px;
    background-repeat: no-repeat;
  }
}

// Mobile Blocking
nav[role=main] {
  left: -300px;
  width: 300px;
  background-color: lighten(@white-gray, 10%);
  border-right: 1px solid @white-gray;
  .nav-active & {
    left: 0;
    .nav-toggle {
      right: auto;
      left: @top-bar-height;
    }
  }
  ul {
    margin-top: 48px;
  }
  li {
    a {
      display: block;
      position: relative;
      padding: 10px;
      border-top: 1px solid @white-gray;
    }
  }
}

.nav-active .pages-wrapper {
  left: 300px;
}

// Desktop Blocking
@media (min-width: @unwrap-width) {
  .nav-toggle {
    display: none;
  }
  nav[role=main] {
    padding: 0 10px;
    background-color: transparent;
    width: 110px;
    border: none;
    &, &.active {
      left: 0;
    }
    ul {
      position: absolute;
      margin-top: 0;
      height: 75%;
      top: 12.5%;
    }
    li {
      height: 20%;
      a {
        padding-top: 25%;
        border-top: none;
        &:after {
          position: absolute;
          content: ' ';
          width: 24px;
          height: 24px;
          bottom: -35px;
          left: 35%;
          margin-left: -12px;
          background-color: @trinidad-green;
          border: 1px solid white;
          .border-radius(50%);
        }
      }
    }
  }
  .pages-wrapper, .nav-active .pages-wrapper {
    left: 0;
  }
}
