[id='/page/operations'] {
  .ops-intro, .ops-areas {
    padding: 0 @page-side-padding;
    position: relative;
  }

  .ops-intro {
    padding-top: 60px;
    padding-bottom: 200px;
    .background-cover(~"@{staticpath}/images/operations-intro.jpg", #edf0ff);
  }
  .col-headings(@color) {
    li {
      .make-heading(1.5em, @color);
    }
    h4 {
      .make-heading(2.2em, @color);
      text-transform: none;
    }
  }
  .ops-areas {
    .row-shadow();
    padding-top: 30px;
    padding-bottom: 30px;
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
    }
  }
  #operations-canada { .col-headings(@lime-green); }
  #operations-us { .col-headings(@cool-blue); }
  #operations-international { .col-headings(@trinidad-green); }
}
