[id='/page/the-steps'] {

  &.page {
    padding: 0;
  }

  h2#the-steps {
    display: none;
  }

  .block {
    clear: both;
    overflow: hidden;
  }
  .block-image {
    height: 440px;
    // width: 35%;
    // float: left;
    // clear: left;
    background-color: #eee;
    background-position: center center;
    background-size: cover;
  }
  .block-text {
    // width: 65%;
    // float: right;
    // padding-left: 30px;
  }
  .block-inner {
    max-width: 1420px;
    margin: 0 auto;
  }
  .notes {
    display: block;
    width: 100%;
  }
  .note {
    display: block;
    float: left;
    width: 50%;
    font-size: 2.5em;
    font-weight: bold;
    font-family: @headings-font-family;
    line-height: 1.2em;
    margin-bottom: 0.5em;

    small {
      display: block;
      font-size: 0.55em;
      line-height: 1.2em;
    }
  }

  .step-3 {
    .block-inner {
      width: 65%;
      margin-left: 0;
    }
    .sidebar-notes {
      position: absolute;
      right: 0;
      top: 100px;
      text-align: center;
      width: 35%;
      .note {
        width: 100%;
        float: none;
      }
    }
  }

  .step-color(@color, @secondary:@trinidad-green) {
    h3, .note {
      color: @color;
      small {
        color: @secondary;
      }
    }
  }
  .step-1 { .step-color(@lime-green); }
  .step-2 { .step-color(@cool-blue); }
  .step-3 { .step-color(@mute-green); }
  .next-steps {
    background-image: url(~"@{staticpath}/images/next-steps.jpg");
    background-position: center center;
    background-size: cover;
    .step-color(@trinidad-green);
  }

  .block {
    position: relative;
    z-index: 1;
    &:after {
      display: block;
      content: ' ';
      background-color: #666;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 20px;
      z-index: 5;
      .background-image(linear-gradient(to bottom, rgba(0,0,0,0.15) 0%,rgba(0,0,0,0) 100%));
      background-color: transparent;
    }
    &.step-1 {
      .block-image {
        background-image: url(~"@{staticpath}/images/step-1.jpg");
      }
    }
    &.step-2 {
      .block-image {
        background-image: url(~"@{staticpath}/images/step-2.jpg");
      }
    }
    &.step-1, &.step-2 {
      padding: 0 @page-side-padding;
    }
    &.step-3 {
      padding: 30px @page-side-padding;
      padding-left: @page-side-padding + 60px;
    }
    @next-steps-sidebar-width: 300px;
    &.next-steps {
      padding: 60px @page-side-padding;
      padding-left: @page-side-padding + @next-steps-sidebar-width;
      background-color: #A9CBE0;

      .sidebar-steps-to-success {
        text-align: right;
        width: @next-steps-sidebar-width;
        padding-right: 40px;
        position: absolute;
        margin-left: 0 - @next-steps-sidebar-width;
        color: white;
        h4 {
          text-transform: none;
          color: white;
        }
        ul {
          list-style: none;
          font-weight: bold;
          line-height: 2.4em;
        }
      }
    }

  }
}
