.page[id='/page/the-steps'] {

  h2#the-steps {
    display: none;
  }

  .block {
    clear: both;
    overflow: hidden;
  }
  .block-image {
    height: 490px;
    background-color: #eee;
    background-position: center center;
    background-size: cover;
  }
  .block-inner {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    &:after {
      // clearfix
      content: ' ';
      display: table;
    }
  }
  .notes {
    display: block;
    width: 100%;
  }
  .note {
    display: block;
    float: left;
    width: 50%;
    font-size: 2.5em;
    .strong-heading;
    font-weight: 900;
    font-family: @headings-font-family;
    line-height: 1.2em;
    margin-bottom: 0.5em;

    small {
      .medium-heading;
      display: block;
      font-size: 0.7em;
      line-height: 1.2em;
    }
  }

  .step-3 {
    .sidebar {
      top: 3.5em;
      text-align: center;
    }
    .note {
      width: 100%;
      float: none;
    }
  }

  .step-color(@color, @secondary:@trinidad-green) {
    h3, .note {
      color: @color;
      small {
        color: @secondary;
      }
    }
  }
  .step-1 { .step-color(@lime-green); }
  .step-2 { .step-color(@cool-blue); }
  .step-3 { .step-color(@mute-green); }
  .next-steps {
    .background-cover(~"@{staticpath}/images/next-steps.jpg", #edf0ff);
    .step-color(@trinidad-green);
  }

  .block {
    position: relative;
    z-index: 1;
    .row-shadow();
    .wrap();

    &.step-1 {
      .block-image {
        background-image: url(~"@{staticpath}/images/step-1.jpg");
      }
    }
    &.step-2 {
      .block-image {
        background-image: url(~"@{staticpath}/images/step-2.jpg");
      }
    }
    &.step-1, &.step-2 {
      .block-text {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    &.step-3, &.next-steps {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &.next-steps {
      background-color: #A9CBE0;
      color: @trinidad-green;

      .main > h4 {
        cursor: pointer;
        font-size: 2.8em;
        font-weight: 900;
        text-transform: none;
        border-top: 1px solid @wash-gray;
        margin: 0;
        padding: 10px 0;
        line-height: 0.8em;
        &:before {
          display: inline-block;
          content: ' ';
          background-color: @trinidad-green;
          background-image: data-uri('../images/right-arrow.png');
          background-position: 85% 50%;
          background-repeat: no-repeat;
          vertical-align: middle;
          margin-bottom: 8px;
          width: 38px;
          height: 38px;
          margin-right: 12px;
          border: 2px solid white;
          border-radius: 50%;
        }
        &#canadian-lng {
          border-top: none;
        }
        &#international-joint-venture {
          + p {
            padding-bottom: 10px;
            border-bottom: 1px solid @wash-gray;
          }
        }
      }

      p.hidden {
        display: none;
      }

      #summary { display: none; }

      .sidebar-steps-to-success {
        text-align: right;
        width: 220px;
        padding-right: 40px;
        position: absolute;
        margin-left: -300px;
        color: #fff;
        bottom: 5px;
        h4 {
          .medium-heading();
          font-size: 2em;
          margin-bottom: 0.75em;
          text-transform: none;
          color: white;
        }
        ul {
          list-style: none;
          font-weight: bold;
          line-height: 1.4em;
          li {
            margin-bottom: 0.9em;
            display: block;
            position: relative;
            &:after {
              display: block;
              position: absolute;
              top: 50%;
              margin-top: -6px;
              right: -30px;
              width: 12px;
              height: 12px;
              content: ' ';
              border-radius: 50%;
              background-color: @trinidad-green;
              border: 1px solid white;
            }
          }
        }
      }
    }

  }
}
