.page[id='/page/the-steps'] {
  h2#the-steps {
    display: none;
  }
  .block {
    clear: both;
    overflow: hidden;
  }
  .block-image {
    height: 490px;
    background-color: #eee;
    background-position: center center;
    background-size: cover;
  }
  .block-inner {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    &:after {
      // clearfix
      content: ' ';
      display: table;
    }
  }
  .notes {
    display: block;
    width: 100%;
    .clearfix;
  }
  .note {
    display: block;
    float: left;
    width: 50%;
    min-width: 240px;
    font-size: 2.5em;
    .strong-heading;
    font-weight: 900;
    font-family: @headings-font-family;
    line-height: 1.2em;
    margin-bottom: 0.5em;

    small {
      .medium-heading;
      display: block;
      font-size: 0.7em;
      line-height: 1.2em;
    }
  }

  .footnote {
    font-size: 0.85em;
  }

  .step-3 {
    .sidebar {
      top: 3.5em;
      text-align: center;
      margin-bottom: 2em;
      .clearfix;
    }
    .note {
      width: 100%;
      float: none;
    }
  }

  .step-color(@color, @secondary:@trinidad-green) {
    h3, .note {
      color: @color;
      small {
        color: @secondary;
      }
    }
  }
  .step-1 { .step-color(@lime-green); }
  .step-2 { .step-color(@cool-blue); }
  .step-3 { .step-color(@mute-green); }
  .next-steps {
    .background-cover(~"@{staticpath}/images/next-steps.jpg", #edf0ff);
    .step-color(@trinidad-green);
  }

  .block {
    position: relative;
    z-index: 1;
    .row-shadow();
    .wrap();

    &.step-1 {
      .block-image {
        background-image: url(~"@{staticpath}/images/step-1.jpg");
      }
    }
    &.step-2 {
      .block-image {
        background-image: url(~"@{staticpath}/images/step-2.jpg");
      }
    }
    &.step-1, &.step-2 {
      .block-text {
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
    &.step-3, &.next-steps {
      padding-top: 30px;
      padding-bottom: 40px;
    }

    &.next-steps {
      background-color: #A9CBE0;
      color: darken(@trinidad-green, 5%);
      &, .main, .steps-to-success { position: relative; }
      .main { z-index: 2; }
      .steps-to-success { z-index: 1; }

      .main > h4 {
        cursor: pointer;
        font-weight: 900;
        text-transform: none;
        border-top: 1px solid @wash-gray;
        margin: 0;
        padding: 10px 0;
        line-height: 0.8em;
        &:before {
          display: inline-block;
          content: ' ';
          background-color: @trinidad-green;
          background-image: data-uri('../images/right-arrow.png');
          background-position: 85% 50%;
          background-repeat: no-repeat;
          vertical-align: middle;
          margin-bottom: 8px;
          width: 38px;
          height: 38px;
          margin-right: 12px;
          border: 2px solid white;
          border-radius: 50%;
        }
        &#canadian-lng {
          border-top: none;
        }
        + p {
          position: relative;
          top: -10px;
          font-size: 0.9em;
          line-height: 1.5em;
        }
      }

      .main > h4 { font-size: 1.9em; }
      @media (min-width: @unwrap-width) {
        .main > h4 { font-size: 2.8em; }
      }


      p.hidden {
        display: none;
      }
    }

    .steps-to-success {
      clear: both;
      position: relative;
      top: 0;
      color: #fff;
      td {
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
        float: none;
      }
      h4 {
        .medium-heading();
        font-size: 2em;
        margin-bottom: 0;
        text-transform: none;
        color: white;
      }
      .title {
        color: white;
        text-align: right;
        font-weight: bold;
        line-height: 1.4em;
      }
      .arrow {
        padding: 0 12px;
        .inner{
          display: block;
          width: 100%;
          height: 14px;
          background-image: data-uri("../images/connector.png");
          background-repeat: no-repeat;
          background-position: left center;
        }
      }
      .description {
        color: darken(@trinidad-green, 5%);
      }
      .title { width: (100% / 12) * 2; }
      .arrow { width: (100% / 12) * 2; }
      .description { width: (100% / 12) * 8; }
    }
  }
}

@media (min-width: @screen-md-min) {
  .page[id='/page/the-steps'] .block.next-steps .steps-to-success {
    .title {
      padding-left: 30px;
    }
    table {
      position:relative;
      top: -4em;
      margin-left: 15px;
    }
    .title { width: (100% / 12) * 2.4; }
    .arrow { width: (100% / 12) * 1.6; }
    .description { width: (100% / 12) * 8; }
  }
}
