@import "lesshat/build/lesshat";

@import "bootstrap/less/variables";
@import "./less/variables";
@import "./less/mixins";

@import "bootstrap/less/mixins";
@import "bootstrap/less/normalize";
@import "bootstrap/less/print";
@import "bootstrap/less/scaffolding";
@import "bootstrap/less/type";
@import "bootstrap/less/grid";
@import "bootstrap/less/wells";
@import "bootstrap/less/utilities";
@import "bootstrap/less/responsive-utilities";

@import "./less/nav";
@import "./less/home";
@import "./less/the-steps";
@import "./less/letter-to-shareholders";
@import "./less/operations";
@import "./less/md-a";
@import "./less/contact-us";

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 15px;
  background-color: @trinidad-green;
}

.page {
  padding: 30px 120px;
}

h2 {
  font-family: @font-family-sans-serif;
  font-size: 1.35em;
  font-weight: 100;
  text-transform: uppercase;
}

h3 { font-size: 3.8em; }

h4 {
  font-family: @font-family-sans-serif;
  font-size: 1.4em;
  font-weight: 900;
  text-transform: uppercase;
}


blockquote {
  border: 1px solid @slate-gray;
  border-width: 1px 0;
  font-size: 1.65em;
  font-family: @headings-font-family;
  color: @trinidad-green;
  text-align: center;
  p {}
}
