<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta charset=utf-8>
  <meta name=description content="{{title}}">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="stylesheets/site.css">
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//use.typekit.net/xdj4gbh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>

<div class="brand-bar"></div>

<nav role="main">
  {{> navigation }}
</nav>

<div class="pages-wrapper">
  {{#pages}}{{^hidden}}
    <section class="page" id="{{{id}}}">
      <div class="page-wrap">
        {{{ content }}}
      </div>
    </section>
  {{/hidden}}{{/pages}}
</div>

<script src="javascripts/lib.min.js"></script>
<script src="javascripts/main.min.js"></script>
</body>
</html>
