<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/site.css">
</head>
<body>
{{#pages}}
  <section class="page" id="{{id}}">
    {{{content}}}
  </section>
{{/pages}}
<script src="javascripts/lib.min.js"></script>
<script src="javascripts/main.min.js"></script>
</body>
</html>
